@import "./colors.scss";

.item {
  display: grid;
  grid-template-columns: auto 120px;
  align-items: center;
  padding: 0.4rem 0.8rem;

  &:nth-child(even) {
    background-color: #e4e4e2;
  }
  &:nth-child(odd) {
    background-color: #f3f3f1;
  }

  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      display: block;
      margin: 0;
      flex-grow: 0;
      height: 2.5rem;
    }
    span {
      text-align: left;
      font-weight: bold;
      font-size: 1.2rem;
      padding-left: 0.8rem;
    }
  }
  a {
    display: block;
    min-width: 30%;
    height: 100%;

    background: $button-gradient;
    border: 1px solid white;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s ease-in-out;
    transition-property: background-color, color;
    color: white;

    -webkit-tap-highlight-color: transparent;

    span {
      font-weight: normal;
      font-size: 1.1rem;
    }

    &:active {
      background: white;
      color: $color-primary;
      border-color: $color-primary;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
