@font-face {
  font-family: Thesis;
  src: url(./fonts/TheSans_LT_TT5_.eot#);
  src: url(./fonts/TheSans_LT_TT5_.woff) format("woff"),
    url(./fonts/TheSans_LT_TT5_.svg) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Thesis;
  src: url(./fonts/TheSans_LT_TT7_.eot#);
  src: url(./fonts/TheSans_LT_TT7_.woff) format("woff"),
    url(./fonts/TheSans_LT_TT7_.svg) format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Thesis;
  src: url(./fonts/TheSans_LT_TT5i.eot#);
  src: url(./fonts/TheSans_LT_TT5i.woff) format("woff"),
    url(./fonts/TheSans_LT_TT5i.svg) format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: ThesisBlack;
  src: url(./fonts/TheSans_LT_TT8_.eot#) format("eot"),
    url(./fonts/TheSans_LT_TT8_.woff) format("woff"),
    url(./fonts/TheSans_LT_TT8_.svg) format("svg");
  font-weight: 400;
  font-style: normal;
}
