@import "./fonts.scss";

body {
  margin: 0;
  padding: 0;
  font-family: Thesis, arial, roboto, "droid sans", helvetica, sans-serif;
  height: 100%;
  width: 100%;
  animation: fadeIn 1s;
  background-color: rgb(253, 253, 252);
}

* {
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3 {
  font-family: "ThesisBlack", Arial, sans-serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000;
}

hr {
  margin: 25px 15px 15px 25px;
  border: 1px solid #d3d3d3;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
